    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                        <app-grafica-donut
                                [leyend]="leyendaA" 
                                [data]="doughnutChartDataA"
                                [labels]="doughnutChartLabelsA"
                                [chartType]="doughnutChartType">                
                        </app-grafica-donut>

                </div>
            </div>
        </div>
 
        <div class="col-6">
            <div class="card">
                <div class="card-body">

                        <app-grafica-donut
                                [leyend]="leyendaB" 
                                [data]="doughnutChartDataB"
                                [labels]="doughnutChartLabelsB"
                                [chartType]="doughnutChartType">                
                        </app-grafica-donut>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
    
                        <app-grafica-donut
                                [leyend]="leyendaC" 
                                [data]="doughnutChartDataC"
                                [labels]="doughnutChartLabelsC"
                                [chartType]="doughnutChartType">                
                        </app-grafica-donut>

    
                    </div>
                </div>
            </div>
     
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
    
                            <app-grafica-donut
                                    [leyend]="leyendaD" 
                                    [data]="doughnutChartDataD"
                                    [labels]="doughnutChartLabelsD"
                                    [chartType]="doughnutChartType">                
                            </app-grafica-donut>
       
                    </div>
                </div>
            </div>
        </div>
    